#Tour * {
  box-sizing: border-box;
}
#Tour.hidden {
  pointer-events: none;
}
#Tour.hidden #Tour-box {
  opacity: 0;
  transform: scale(0.5);
}
#Tour.hidden #Tour-masks .mask,
#Tour.hidden #Tour-canvas {
  opacity: 0;
}
#Tour #Tour-box-wrap {
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 100003;
  transition: all 0.3s ease-out;
}
#Tour #Tour-box {
  width: 250px;
  min-height: 69px;
  max-height: 500px;
  padding: 0.5em;
  background: #fff;
  box-shadow: 0 6px 19px 2px rgba(0,0,0,0.14);
  border-radius: 2px;
  transition: all 0.3s ease;
  transform: scale(1);
}
#Tour #Tour-box.dark-box {
  background: rgba(0,0,0,0.8);
  color: #fff;
}
#Tour #Tour-box.dark-box #Tour-close {
  background: rgba(255,255,255,0.81);
  color: #000;
}
#Tour #Tour-box.dark-box #Tour-close:hover {
  background: #ee342f;
  color: #fff;
}
#Tour #Tour-box.dark-box #Tour-step {
  background: #fff;
  color: rgba(0,0,0,0.8);
}
#Tour #Tour-box.dark-box #Tour-length {
  background: rgba(255,255,255,0.2);
  color: #bababa;
}
#Tour #Tour-box.dark-box #Tour-tip.left {
  left: 5px;
}
#Tour #Tour-box.dark-box #Tour-tip.center {
  left: 50%;
}
#Tour #Tour-box.dark-box #Tour-tip.right {
  right: 5px;
}
#Tour #Tour-box.dark-box #Tour-tip.side.center {
  top: 50%;
}
#Tour #Tour-box.dark-box #Tour-tip.side.top {
  top: 5px;
}
#Tour #Tour-box.dark-box #Tour-tip.side.bottom {
  bottom: 5px;
}
#Tour #Tour-box.dark-box #Tour-tip.top {
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,0.8);
}
#Tour #Tour-box.dark-box #Tour-tip.bottom {
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.8);
}
#Tour #Tour-box.dark-box #Tour-tip.side.left {
  left: -10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0,0,0,0.8);
}
#Tour #Tour-box.dark-box #Tour-tip.side.right {
  right: -10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(0,0,0,0.8);
}
#Tour #Tour-tip {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
#Tour #Tour-tip.hidden {
  opacity: 0;
}
#Tour #Tour-tip.vertical.left {
  left: 5px;
}
#Tour #Tour-tip.vertical.center {
  left: 50%;
}
#Tour #Tour-tip.vertical.right {
  right: 5px;
}
#Tour #Tour-tip.vertical.top {
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
#Tour #Tour-tip.vertical.bottom {
  bottom: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
#Tour #Tour-tip.horizontal.top {
  top: 5px;
}
#Tour #Tour-tip.horizontal.center {
  top: 50%;
}
#Tour #Tour-tip.horizontal.bottom {
  bottom: 5px;
}
#Tour #Tour-tip.horizontal.left {
  left: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
}
#Tour #Tour-tip.horizontal.right {
  right: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}
#Tour #Tour-close {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,0.8);
  border-radius: 100%;
  font-size: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Tour #Tour-close:hover {
  background: #ec1d18;
}
#Tour #Tour-content {
  width: 100%;
  height: 100%;
  max-height: 470px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-bottom: solid 32px transparent;
  padding: 0 4px;
  font-size: 14px;
}
#Tour #Tour-step,
#Tour #Tour-length {
  width: 24px;
  height: 24px;
  color: #fff;
  position: absolute;
  bottom: 0.7em;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Tour #Tour-step {
  background: rgba(0,0,0,0.7);
  left: 0.7em;
  z-index: 1;
}
#Tour #Tour-length {
  background: #ccc;
  left: 2.2em;
  z-index: 0;
}
#Tour #Tour-actions {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  height: 24px;
}
#Tour #Tour-actions button {
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 0.75em;
  padding: 4px 7px;
  color: #fff;
  background-color: #868686;
}
#Tour #Tour-actions button:hover {
  background-color: #6b6b6b;
}
#Tour #Tour-actions button[disabled] {
  opacity: 0.2;
}
#Tour #Tour-actions button[disabled]:hover {
  opacity: 0.2;
}
#Tour #Tour-actions button:focus,
#Tour #Tour-actions button:focus:active {
  outline: none;
}
#Tour #Tour-actions button.success {
  background-color: #60bd68;
}
#Tour #Tour-actions button.success:hover {
  background-color: #43a14b;
}
#Tour #Tour-actions button.danger {
  background-color: #ec1d18;
}
#Tour #Tour-actions button.danger:hover {
  background-color: #c01410;
}
#Tour #Tour-previous {
  margin-right: 0.5em;
}
#Tour #Tour-masks .mask {
  position: fixed;
  z-index: 100001;
}
#Tour #Tour-masks .mask.top,
#Tour #Tour-masks .mask.bottom {
  width: 100%;
  height: 0;
  left: 0;
}
#Tour #Tour-masks .mask.left,
#Tour #Tour-masks .mask.right {
  width: 0;
  height: 100%;
  top: 0;
}
#Tour #Tour-masks .mask.top {
  top: 0;
}
#Tour #Tour-masks .mask.bottom {
  bottom: 0;
}
#Tour #Tour-masks .mask.left {
  left: 0;
}
#Tour #Tour-masks .mask.right {
  right: 0;
}
#Tour #Tour-canvas {
  position: fixed;
  z-index: 100002;
  top: 0;
  left: 0;
  pointer-events: none;
}
